---
layout: template
---
{% for i in site.data.toc %}
  {% assign slug = i | prepend:'/' | append:'/' %}
	{% for page in site.pages %}
	  {% if page.url == slug %}
	    {% assign loop_page = page %}
	  {% endif %}
	{% endfor %}
	{% if c %}
		{% unless n %}
			{% assign n = loop_page %}
		{% endunless %}
	{% endif %}
	{% if loop_page.url == page.url %}
		{% assign c = loop_page %}
	{% endif %}
	{% unless c %}
		{% assign p = loop_page %}
	{% endunless %}
{% endfor %}
<article>
	<h1>
		{{ page.title | textilize | strip_html }}
	</h1>
	{{ content }}
</article>

{% if n %}<a class="next" href="{{ n.url }}"><strong>Continue Reading</strong> {{ n.title }}</a>{% endif %}

{% comment %}
<aside id="notes-nav">
  {% include notes_list.html %}
</aside>
{% endcomment %}
